/*Estilos Generales*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px black;
}

.clearfix{
    clear: both;
    float: none;
}

.rojo{
    color: red;
}
/*Estilos header*/
header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0 auto;
}

.article-item{
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding: 15px;
    clear: both;
}

.article-item .image{
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.article-item .image img{
    width: 100%;
    height: 100%;
}

.article-item .data{
    float: left;
    padding: 15px;
    padding-top: 0px;
}

.article-item h2{
    display: block;
    font-size: 25px;
    color: #333;
    margin-bottom: 15px;
}

.article-item span.date{
    display: block;
    font-size: 15px;
    color: grey;
    margin-bottom: 10px;
}

.article-item a.btn-delete{
   display: block;
   padding: 10px;
   background-color: rgb(207, 48, 48);
   color: white;
   border: 2px solid black;
   margin-top: 20px;
   text-align: center;
   width: 100px;
}

.message{
    padding: 20px;
    background-color: #1f7e58;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.box p, .box h2, .box h3, .box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box form{
    width: 50%;
}

.box form input, 
.box form label{
 display: block;
 padding: 5px;
 padding-left: 0px;
}

.box form input[type='text'],
.box form textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.box form select{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.box form input[type='submit'],
.box form input[type='button'],
.box form button{
    padding: 10px;
    margin-top: 10px;
    background-color: #2ba977;
    color: white;
    border: 2px solid black;
    transition: 300ms all;
}

.box form input[type='submit']:hover,
.box form input[type='button']:hover,
.box form button:hover{
    cursor: pointer;
    background-color: #1f7e58;
    box-shadow: 0px 0px 5px grey inset;
}


.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}

#logo{
    width: 55%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}

#logo h1{
    display: block;
    letter-spacing: 2px;
    font-weight: lighter;
    color: #2ba977;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
}

#logo img{
    display: block;
    float: left;
    width: 60px;
    margin-top: 20px;
}

/*Estilos nav*/
nav{
    width: 1250px;
    height: 40px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: #d1d4d6;
}

nav ul li a:hover{
    background-color:#2ba977;
    box-shadow: 0px 0px 5px #333333 inset;
    color: #444444;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background-color: #2b2f30;
    float: left;
}



/*Estilos contenido central*/
#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.box{
    background-color: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 2px;
}

.title{
  color: #444;
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/*Estilos footer*/
footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px grey;
    margin: 0 auto;
}